[package]
name = "system76-firmware"
version = "1.0.16"
authors = ["Jeremy Soller <jeremy@system76.com>"]

[workspace]
members = [ "daemon" ]

[[bin]]
name = "system76-firmware-cli"
path = "src/bin/cli.rs"

[dependencies]
buildchain = "0.4.11"
ecflash = { git = "https://github.com/system76/ecflash.git", branch = "stable" }
libc = "0.2.77"
plain = "0.2.3"
rust-lzma = "0.5.1"
serde = { version = "1.0.116", features = ["derive"] }
serde_json = "1.0.57"
sha2 = "0.9.1"
tar = "0.4.30"
tempdir = "0.3.7"
uuid = "0.8.1"
err-derive = "0.2.4"
system76_ectool = { version = "0.1.3", features = ["stable"] }

[profile.release]
lto = true
