[package]
name = "system76-firmware"
version = "1.0.7"
authors = ["Jeremy Soller <jeremy@system76.com>"]

[workspace]
members = [ "daemon" ]

[[bin]]
name = "system76-firmware-cli"
path = "src/bin/cli.rs"

[dependencies]
buildchain = "0.4.11"
ecflash = { git = "https://github.com/system76/ecflash.git", branch = "stable" }
libc = "0.2.58"
plain = "0.2.3"
rust-lzma = "0.4.0"
serde = { version = "1.0.93", features = ["derive"] }
serde_json = "1.0.39"
sha2 = "0.8.0"
tar = "0.4.26"
tempdir = "0.3.7"
uuid = "0.7.4"
err-derive = "0.1.5"

[profile.release]
lto = true
