Source: system76-firmware
Section: admin
Priority: optional
Maintainer: Jeremy Soller <jeremy@system76.com>
Build-Depends:
  debhelper (>=9.20160709),
  ca-certificates,
  cargo,
  libdbus-1-dev,
  liblzma-dev,
  libssl-dev,
  pkg-config
Standards-Version: 4.1.1
Homepage: https://github.com/pop-os/system76-firmware

Package: system76-firmware
Architecture: amd64
Depends:
  efibootmgr,
  ${misc:Depends},
  ${shlib:Depends}
Description: System76 Firmware CLI

Package: system76-firmware-daemon
Architecture: amd64
Depends:
  dbus,
  dfu-programmer,
  systemd,
  ${misc:Depends},
  ${shlib:Depends}
Description: System76 Firmware Daemon
