[Unit]
Description=System76 Firmware Daemon

[Service]
ExecStart=/usr/bin/system76-firmware-daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
