[Unit]
Description=System76 Firmware Daemon

[Service]
ExecStart=/usr/lib/system76-firmware/system76-firmware-daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
